<!-- display.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <h2>User Details</h2>
    <p>Collection Name: {{ collection_name }}</p>
    <p>Name: {{ data.name }}</p>
    <p>Role: {{ data.role }}</p>
    <p>Bio: {{ data.bio }}</p>
    <p>Gender: {{ data.gender }}</p>
    <p>Department: {{ data.department }}</p>
    <p>College: {{ data.college }}</p>

    <img src="{{ url_for('static', filename=collection_name + '_qr.png') }}" alt="QR Code">

    <p><a href="{{ url_for('edit', collection_name=collection_name) }}">Edit</a></p>
</body>
</html>
